#myBooks
{
    text-align: center;
}

.title
{
    background-color: rgba(74, 74, 74, 0.099);
    border : 1px rgb(70, 70, 70, 0.099) solid;
    box-shadow: 0ex 3px 3px rgba(70, 70, 70);
}



body {
    font-family: "Inria Sans";
}

#addBook{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.btn{
    width: 150px;
    background-color: RGB(70, 147, 136);
    margin-top: 10px;
}

hr{
    width: 95%;
}

h2{
    text-align: center;
}

.infoBook{
    border : 1px black solid;
    font-size:x-small;
    width: 95%;
}

.research{
    column-count: 2;
    
}